ol.breadcrumb
  if ResourceDefinition && Resource
    li
      a(href=appPath()) Resources
    li
      a(href=appPath( ResourceDefinition.name ))= ResourceDefinition.display
    li.active!= Resource.cache
  else if ResourceDefinition
    li
      a(href=appPath()) Resources
    li.active
      a(href=appPath( ResourceDefinition.name ))= ResourceDefinition.display
  else
    li.active Resources
