extends layout

block head
  
block headline
  h1 New #{ResourceDefinition.display} Definition
  
block content
  div
    form.form-horizontal(method="post")
      #resource
        each property in ResourceDefinition.PropertyDefinitions
          div.form-group
            label.col-sm-3.control-label= property.name
            div.col-sm-9
              if property.computed
                input.form-control(type="text", disabled="disabled", value=property.equation)
              else
                input.form-control(
                  type="text",
                  name=property.name,
                  value=property.default,
                  pattern=property.PropertyType.pattern,
                  title=property.PropertyType.name)
      #submit
        input(type="submit")