extends layout

block head
  script(type='text/javascript').
    $(function () {
      // show modal
      $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var id = button.data('id');
        var name = button.data('name');
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('Delete ' + name);
        modal.find('.modal-body p').text('Are you sure you want to delete ' + name + '?');
        modal.find('.modal-body input').val(id);
      });
      
      // modal confirm delete
      $("#deleteModal").on("click", ".btn-danger", function(event){
        //event.preventDefault();
        var modal = $("#deleteModal");
        var id = modal.find('.modal-body input').val();
        
        $.ajax({
          url: '/resources/#{ResourceDefinition.name}/' + id + '/delete',
          type: 'DELETE',
          success: function(data, status, xhr){
            if(data.success){
              $("#resource_" + data.result.id + "_tr").remove();
              $("#resource_" + data.result.id + "_li").remove();
            }
          }
        });
        modal.modal('hide');
      });

      // view toggles
      $("[data-action='collapse']").on("click", function(event){
        if(! $(this).hasClass('active'))
        {
          var target = $($(this).data('target'));
          var active = $(".active[data-action='collapse']");
          var active_target = $(active.data('target'));
          
          active.removeClass('active');
          $(this).addClass('active');

          active_target.collapse('hide');
          target.collapse('show');
        }
      });

    });

block headline
  h1= ResourceDefinition.display
    div.pull-right
      div.btn-group
        button.btn.btn-default.disabled View:
        button.btn.btn-default.active(role="button", data-action="collapse", data-target="#listView")
          span.glyphicon.glyphicon-th-large
        button.btn.btn-default(role="button", data-action="collapse", data-target="#tableView")
          span.glyphicon.glyphicon-menu-hamburger
      |  
      a.btn.btn-primary(href="./edit")
        span.glyphicon.glyphicon-pencil
        |  Edit
      |  
      a.btn.btn-primary(href="./new")
        span.glyphicon.glyphicon-plus
        |  #{ResourceDefinition.display}

block content
  p= ResourceDefinition.description
  if Resources.length > 0
    div#tableView.collapse.table-responsive
      table.table.table-condensed.table-bordered.table-hover
        thead
          tr
            each property in ResourceDefinition.PropertyDefinitions
              th= property.name
            th(width="50px")
        tbody
          each resource in Resources
            tr(id="resource_#{resource.id}_tr", href="/resources/#{ResourceDefinition.name}/#{resource.id}/")
              each property in ResourceDefinition.PropertyDefinitions
                td!= resource.properties[property.name].cache
              td
                div.btn-group.btn-group-flex
                  a.btn.btn-xs.btn-primary(href="/resources/#{ResourceDefinition.name}/#{resource.id}/edit")
                    span.glyphicon.glyphicon-pencil(aria-hidden="true")
                    span.hidden-xs &nbsp;Edit
                  a.btn.btn-xs.btn-primary(data-action="delete", data-id=resource.id, data-name=resource.cache, data-toggle="modal", data-target="#deleteModal" href="#")
                    span.glyphicon.glyphicon-remove(aria-hidden="true")

    div#listView.collapse.in
      div.row
        each resource in Resources
          div.col-xs-12.col-md-4.col-lg-3(id="resource_#{resource.id}_li")
            a.btn.btn-default.btn-lg.btn-block(href='/resources/#{ResourceDefinition.name}/#{resource.id}/')!= resource.cache
  else
    p
      | *** No Resources ***
  div.container
    div.row
      a.btn.btn-primary(href="./new")
        span.glyphicon.glyphicon-plus(aria-hidden="true")
        |  #{ResourceDefinition.display}

  include components/delete_modal.jade
