extends layout

include components/buttons
include components/modal_delete

block head
  script(type='text/javascript').
    // ajax delete success response
    var delete_success = function(data, status, xhr){
      if(data.success){
        $("#resource_" + data.result.id + "_tr").remove();
        $("#resource_" + data.result.id + "_li").remove();
      }
    }

    $(function () {
      // view toggles
      $("[data-action='collapse']").on("click", function(event){
        if(! $(this).hasClass('active'))
        {
          var target = $($(this).data('target'));
          var active = $(".active[data-action='collapse']");
          var active_target = $(active.data('target'));
          
          active.removeClass('active');
          $(this).addClass('active');

          active_target.collapse('hide');
          target.collapse('show');
        }
      });

    });

block headline
  h1= ResourceDefinition.display
    div.pull-right
      div.btn-group
        button.btn.btn-default.disabled View:
        button.btn.btn-default.active(role="button", data-action="collapse", data-target="#listView")
          span.glyphicon.glyphicon-th-large
        button.btn.btn-default(role="button", data-action="collapse", data-target="#tableView")
          span.glyphicon.glyphicon-menu-hamburger
      |  
      +button_edit( appPath(ResourceDefinition.name) )
      |  
      +button_add( ResourceDefinition.display, appPath(ResourceDefinition.name) )

block content
  p= ResourceDefinition.description
  if Resources.length > 0
    div#tableView.collapse.table-responsive
      table.table.table-condensed.table-bordered.table-hover
        thead
          tr
            each property in ResourceDefinition.PropertyDefinitions
              th= property.name
            th(width="50px")
        tbody
          each resource in Resources
            tr(id="resource_#{resource.id}_tr", href=appPath( ResourceDefinition.name, resource.id))
              each property in ResourceDefinition.PropertyDefinitions
                td!= resource.properties[property.name].cache
              td
                div.btn-group.btn-group-flex
                  +button_edit_small(  appPath(ResourceDefinition.name, resource.id) )
                  +modal_delete_button_small( resource.id, resource.cache )

    div#listView.collapse.in
      div.row
        each resource in Resources
          div.col-xs-12.col-md-4.col-lg-3(id="resource_#{resource.id}_li")
            a.btn.btn-default.btn-lg.btn-block(href=appPath( ResourceDefinition.name, resource.id ))!= resource.cache
  else
    p
      | *** No Resources ***
  +button_add( ResourceDefinition.display,  appPath(ResourceDefinition.name) )

  +modal_delete( "Resource", appPath( ResourceDefinition.name ), "delete_success" )
