extends layout

block head
  
block headline
  h1 New #{ResourceDefinition.display} Definition
  
block content
  div
    form.form-horizontal(method="post")
      #resource
        each property in Resource.properties
          div.form-group
            label.col-sm-3.control-label= property.name
            div.col-sm-9
              if PropertyDefinitions[property.definition].computed
                input.form-control(type="text", disabled="disabled", value=PropertyDefinitions[property.definition].equation)
              else
                input.form-control(type="text", name=property.name, value=property.value)
      #submit
        input(type="submit")