extends layout

include components/breadcrumb

block head
  
block headline
  +breadcrumbs("New",
    {
      'name': ResourceDefinition.name,
      'path': appPath(ResourceDefinition.urn)
    })

  h1 New #{ResourceDefinition.name} Definition
  
block content
  div
    form.form-horizontal(method="post")
      #resource
        each property in ResourceDefinition.PropertyDefinitions
          div.form-group
            em.col-sm-2.control-label (#{property.PropertyType.name})
            label.col-sm-2.control-label(for=property.urn)= property.name 
            div.col-sm-8
              if property.computed
                input.form-control(type="text", disabled="disabled", value=property.equation)
              else
                input.form-control(
                  type="text",
                  name=property.urn,
                  placeholder=property.default,
                  pattern=property.PropertyType.pattern,
                  title=property.PropertyType.name)
      #submit
        div.form-group
          input.form-control.btn.btn-primary(type="submit", value="Create")