extends layout

block head
  script(type='text/javascript').
    $(function () {
      $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var id = button.data('id');
        var name = button.data('name');
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('Delete ' + name);
        modal.find('.modal-body p').text('Are you sure you want to delete ' + name + '?');
        modal.find('.modal-body input').val(id);
      });
      $("#deleteModal").on("click", ".btn-danger", function(event){
        //event.preventDefault();
        var modal = $("#deleteModal");
        var id = modal.find('.modal-body input').val();
        
        $.ajax({
          url: '/resources/'+ id +'/delete',
          type: 'DELETE',
          success: function(data, status, xhr){
            if(data.success){
              $("#definition_" + data.result.id).remove();
            }
          }
        });
        modal.modal('hide');
      });
    });

block headline
  h1 Resources
    div.pull-right  
      a.btn.btn-primary(href="./new")
        span.glyphicon.glyphicon-plus(aria-hidden="true")
        |  Resource

block content
  if ResourceDefinitions.length > 0
    ul.list-group
      each definition in ResourceDefinitions
        li.list-group-item(id="definition_#{definition.id}")
          a(href='/resources/' + definition.name + "/")= definition.display
          div.pull-right
            a.btn.btn-xs.btn-primary(href="/resources/#{definition.name}/edit")
              span.glyphicon.glyphicon-pencil(aria-hidden="true")
              |  Edit
            |  
            a.btn.btn-xs.btn-primary(data-action="delete", data-id=definition.name, data-name=definition.display, data-toggle="modal", data-target="#deleteModal" href="#")
              span.glyphicon.glyphicon-remove(aria-hidden="true")

  else
    p
      | *** No Resource Definitions found. ***
  a.btn.btn-primary(href="./new")
    span.glyphicon.glyphicon-plus(aria-hidden="true")
    |  Resource
  
  include components/delete_modal.jade